TELEGRAM_BOT_TOKEN=7853851422:AAGDMjSxHz18WNX1DAVhcSVPIA4Xa6H_2yo
OPENROUTER_API_KEY=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
SITE_URL=https://void-teal.vercel.app
SITE_NAME=void-v0
WEBHOOK_URL=https://void-teal.vercel.app